{{define "comments/comment"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Comentario</title>
        <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../assets/css/styles.css">
    </head>
    <body>

    <h1>{{ .Title}}</h1>
    <h3>{{.Content}}</h3>
    <h3>{{.ContentHtml}}</h3>


    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>


    <img src="../../assets/img/cara.jpg" alt="cara" class="img-fluid">


    <script type="text/javascript" src="../../assets/js/hola.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
    </html>
{{end}}