{{define "users/edit"}}
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <title>Editar Usuario</title>
        {{template "help/bootstrap"}}
        <link rel="stylesheet" href="../../assets/css/users/new.css">
    </head>

    <body>

    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Editar Usuario</h5>
                        {{ if .Error}}
                            <div class="alert alert-danger">
                                <strong>{{.Error}}</strong>
                            </div>
                        {{end}}
                        <form class="form-signin" method="post" action="/users/edit">
                            <div class="form-label-group">
                                <input name="username" id="username" type="text"
                                       value="{{.User.Username}}"
                                       class="form-control" placeholder="Usuario" required autofocus>
                                <label for="username">Usuario</label>
                            </div>
                            <div class="form-label-group">
                                <input name="email" id="email" type="email"
                                       value="{{.User.Email}}"
                                       class="form-control" placeholder="Email" required>
                                <label for="email">Email</label>
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">
                                Editar
                            </button>
                        </form>
                    </div>

                    <a href="/users/logout" type="button" class="btn btn-sm btn-warning btn-block text-uppercase">
                        Cerrar Sesion
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{{end}}